.calc-products-container{
    width: 40%;
    background-color: rgb(21, 19, 16);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}
p{
    margin: 0;
    padding: 0;
    color: lightcoral;
}